<!--imu ros 驱动-->
<launch>
    <!-- imu型号，默认 a9 -->
    <arg name="imu_type" default="a9" doc="model type [a9, b9, b6 ,d6]"/>

    <!-- imu 对应 python 文件 -->
    <node pkg="handsfree_ros_imu" type="hfi_a9_ros.py" name="imu" output="screen">
        <param name="port" value="/dev/serial/by-id/usb-Silicon_Labs_HandsFree_IMU_USB_to_UART_Bridge_Controller_0001-if00-port0"/>
        <param name="baudrate" value="921600"/>
    </node>
</launch>

